<section>
  <h2>Customer Reviews</h2>

  <div class="single-item">
    <div>
      <picture> </picture>

      <div>
        <p>
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <h3>Emily, Los Angeles</h3>
      </div>
    </div>

    <div>
      <picture> </picture>

      <div>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, nisi
          incidunt! Voluptatum in minus laudantium. Optio modi fugit possimus
          praesentium nostrum aspernatur earum corporis perspiciatis autem
          maxime accusantium tempore impedit laborum ad, neque sunt! Provident
          iusto labore expedita nam minus.
        </p>
        <h3>Charlotte, Seattle</h3>
      </div>
    </div>

    <div>
      <picture> </picture>

      <div>
        <p>
          Amet consectetur adipisicing elit. Blanditiis sit, temporibus fuga
          porro amet officiis! Tempora ullam dignissimos esse porro accusantium
          dolore tenetur animi minima?
        </p>
        <h3>Міа, Chicago</h3>
      </div>
    </div>
  </div>
</section>
