//red font

.section-title {
  font-family: 'Titan One';
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--red-dominant-color);

  @media (min-width: 768px) {
    font-size: 48px;
  }

  @media (min-width: 1200px) {
    font-size: 58px;
    letter-spacing: 0.06em;
  }
}

// transparent font

.section-subtitle {
  font-family: 'Titan One';
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--sub-title-color);

  @media (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

// common styles

.button {
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  border-radius: 22px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;
  cursor: pointer;
  background-color: var(--white-dominant-color);
  color: var(--red-dominant-color);
}

// styles for mobile, tablet, desktop
.container {
  max-width: 320px;
  padding: 0 20px;

  @media (min-width: 768px) {
    padding: 0 32px;
  }

  @media (min-width: 1200px) {
    padding: 0 16px;
  }
}

// styles for mobile, tablet, desktop

.section {
  padding: 60px 0;
}
